.accent-color {
  --color: var(--accent-color);
}

.red {
  --color: red;
}

.circle {
  border-radius: 50%;
}

.rounded {
  border-radius: 0.8rem;
}

.bordered {
  border: 0.2rem solid var(--color);
}

.padded {
  padding: 0.5rem;
}

*[aria-selected='true'] {
  box-shadow: 0 0 0.5rem var(--color);
}

.clickable, button {
  cursor: pointer;
  border: 1px solid transparent;


  &:hover,
  &:focus {
    box-shadow: 0 0 0.5rem var(--color);
    border-color: var(--color);
  }
}
